<div class="article" (click)="onViewRaconte()">
    <div class="article__img">
        <img [src]="raconte.attributes.image" alt="">
    </div>
    <div class="article__content">
        <p class="article__info">{{raconte.attributes.users_permissions_user.data.attributes.username}} - {{raconte.attributes.createdDate | date: 'd MMMM yyyy'}}</p>
        <h3>{{raconte.attributes.title| truncate:[24]}}</h3>
        <p class="article__content__text">{{raconte.attributes.content | truncate:[80]}}</p>
        <div>{{raconte.attributes.category.data.attributes.name}}</div>
    </div>
</div>