<div class="connect">
    <div class="connect__content">
        <div class="connect__content__img">
            <img src="../../../../assets/images/Raconte-fotor-20230810173821-removebg-preview.png" alt="raconte logo">
        </div>
            <form class="connect__content__form">
                <h3>Bienvenue</h3>
                <div class="connect__content__box">
                    <input type="email" placeholder="Entrez ton email">
                </div>
                <div class="connect__content__box">
                    <input type="password" placeholder="Entrez ton mot de passe">
                </div>
                <button>Se connecter</button>
            </form>
    </div>
    <div class="connect__cover">
        <div class="connect__cover__box">
            <h1>Découvrez un espace pour partager vos récits d'aventures passionnantes et explorer les recoins les plus sombres de votre imagination.</h1>
            <p class="connect__cover__box__text">Agnès KABANGA</p>
            <p class="connect__cover__box__p">Developpeuse web</p>
        </div>
    </div>
</div>