@import '../../styles.scss';
.landing{
    padding: 0px 80px;
    &__cover{
        margin-bottom: 100px;
        &__title{
            @include heading;
            text-align: center;
            margin: 48px 0px 20px 0px;
        }

    }
    &__article{
        margin-bottom: 100px;
        &>p{
            @include cta;
        }
    }
}